@import url(style.css);

@media screen and (max-width:1360px) {
    .content-header{
        flex-direction: column;
        gap:38px;
    }
    .header-btn-conteiner{
        order: 1;
    }
    .header-wrapper{
        width: 938px;
        height: 227px;
        order: 2;
    }
    .header-btn{
        height: 227px;
        font-size: 36px;
    }
    .wrapper-smile{
        bottom: 20px;
    }
    .header-wrapper-downoald-btn{
        width: 416px;
        height: 100px;
    }
    .content-text-conteiner{
        font-size: 135px;
    }
    .form-text{
        font-size: 72px;
    }
    .support-input{
        width: 582px;
    }
}
@media screen and (max-width:700px) {
    header{
        max-height: 180vh;
        padding: 50px 0;
    }
    .content-header{
        flex-direction: column;
        gap:38px;
    }
    .header-btn-conteiner{
        order: 1;
        width: 255px;
        height: 795.02px;
        gap: 0px;
    }
    .header-wrapper{
        width: 250px;
        height: 239.4px;
        order: 2;
    }
    .header-btn{
        font-size: 36px;
    }
    .header-btn1{
        grid-column: span 3;
        flex-direction: column;
        gap:20px;
    }
    .header-btn2{
        grid-column: span 3;
    }
    .header-btn3{
        grid-column: span 3;
    }
    .wrapper-smile{
        bottom: 20px;
    }
    .header-wrapper-downoald-btn{
        width: 197px;
        height: 70px;
        font-size: 16px;
    }
    .header-text{
        font-size: 24px;
    }
    .content-text-conteiner{
        font-size: 84px;
    }
    .circle-btn-conteiner{
        width: 350px;
        bottom: 5px;
        gap: 50px;
    }
    .circle-btn{
        width: 40px;
        height: 40px;
    }
    .form-text{
        font-size: 36px;
    }
    .support-form{
        height: 537px;
    }
    .support-input{
        width: 230px;
        height: 50px;
        font-size: 30px;
        font-size: 20px;
        padding-left: 13px;
    }
    .submit-btn{
        width: 121px;
        height: 50px;
        font-size: 14px;
        border: 2px solid #fff;
    }
    .h-start-trainer{
        font-size: 30px;
    }
    .start-trainer-btn{
        width: 270px;
        height: 140px;
        font-size: 48px;
    }
}