@import url(style.css);

@media screen and (max-width:1360px) {
    .header-fixed-btn-conteiner{
        font-size: 30px;
    }
    .top-btn-group{
        width: 160px;
        height: 160px;
    }
    .top-img{
        width: 140px;
        height: 140px;
    }
    .content-header{
        flex-direction: column;
        gap:38px;
    }
    .header-btn-conteiner{
        order: 1;
    }
    .header-wrapper{
        width: 938px;
        height: 227px;
        order: 2;
    }
    .header-btn{
        height: 227px;
        font-size: 36px;
    }
    .wrapper-smile{
        bottom: 20px;
    }
    .header-wrapper-downoald-btn{
        width: 416px;
        height: 100px;
    }
    .content-text-conteiner{
        font-size: 135px;
    }
    .form-text{
        font-size: 72px;
    }
    /* .support-input{
        width: 582px;
    } */
    .footer-content-conteiner{
        width: 90%;
        justify-content: center;
    }
    .footer-content{
        height: 160px;
    }
    .footer-content1{
        grid-column: span 2;
        font-size: 30px;
    }
    .footer-content2{
        grid-column: span 1;
        font-size: 30px;
    }
    .footer-content3{
        grid-column: span 1;
    }
    .social-btn{
        width: 80px;
        height: 80px;
    }
    .type-btn{
        font-size: 40px;
    }
    .header-manager{
        font-size: 42px;
    }
    .formul-package{
        flex-direction: column;
        width: 500px;
    }
    .formul-name{
        font-size: 32px;
        padding-bottom: 30px;
        width: 80%;
        height: 100px;
        padding-right: 0;
        border: none;
        border-bottom: 1px solid #fff;
    }
    .formul-conteiner{
        width: 80%;
        font-size: 25px;
        align-items: normal;
    }
    .trainer-btn{
        min-width: 250px;
        height: 250px;
    }
    .trainer-conteiner{
        font-size: 46px;
    }
}
@media screen and (max-width:796px) {
    .footer-content1{
        font-size: 25px;
    }
}
@media screen and (max-width:700px) {
    header{
        max-height: 180vh;
        padding: 50px 0;
    }
    .content-header{
        flex-direction: column;
        gap:38px;
    }
    .header-btn-conteiner{
        order: 1;
        width: 255px;
        height: 795.02px;
        gap: 0px;
    }
    .header-wrapper{
        width: 250px;
        height: 239.4px;
        order: 2;
    }
    .header-btn{
        font-size: 36px;
    }
    .header-btn1{
        grid-column: span 3;
        flex-direction: column;
        gap:20px;
    }
    .header-btn2{
        grid-column: span 3;
    }
    .header-btn3{
        grid-column: span 3;
    }
    .wrapper-smile{
        bottom: 20px;
    }
    .header-wrapper-downoald-btn{
        width: 197px;
        height: 70px;
        font-size: 16px;
    }
    .header-text{
        font-size: 24px;
    }
    .content-text-conteiner{
        font-size: 84px;
    }
    .circle-btn-conteiner{
        width: 350px;
        bottom: 5px;
        gap: 50px;
    }
    .circle-btn{
        width: 40px;
        height: 40px;
    }
    .form-text{
        font-size: 36px;
    }
    .support-form{
        height: 537px;
    }
    .support-input{
        /* width: 230px; */
        height: 50px;
        font-size: 30px;
        font-size: 20px;
        padding-left: 13px;
    }
    .submit-btn{
        width: 121px;
        height: 50px;
        font-size: 14px;
        border: 2px solid #fff;
    }
    .h-start-trainer{
        font-size: 30px;
    }
    .start-trainer-btn{
        width: 270px;
        height: 140px;
        font-size: 48px;
    }
    .footer-content-conteiner{
        width: 90%;
        justify-content: center;
    }
    .footer-content{
        height: 160px;
    }
    .footer-content1{
        grid-column: span 2;
        font-size: 30px;
        flex-direction: column;
        height: 200px;
        font-size: 25px;
        gap: 24px;
        border: none;
    }
    .footer-content2{
        grid-column: span 2;
        font-size: 30px;
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
    }
    .footer-content3{
        grid-column: span 2;
        border: none;
    }
    .social-btn{
        width: 60px;
        height: 60px;
    }
    .header-manager{
        font-size: 22px;
    }
    .manager-text{
        font-size: 22px;
    }
    .type-btn-conteiner{
        height: 80%;
    }
    .type-btn{
        font-size: 18px;
        min-height: 10%;
        padding: 40px;
    }
    .content-manager{
        border: none;
    }
    .formul-package{
        width: 400px;
        height: 100%;
        gap: 50px;
    }
    .formul-name{
        font-size: 22px;
        padding-bottom: 5px;
        width: 60%;
        height: auto;
        padding-right: 0;
        border: none;
        border-bottom: 1px solid #fff;
    }
    .formul-conteiner{
        width: 80%;
        height: 80%;
        font-size: 20px;
        align-items: normal;
    }
    .back-btn img{
        width: 35px;
    }
    .trainer-btn{
        min-width: 200px;
        height: 200px;
    }
    .trainer-conteiner{
        font-size: 40px;
    }
    .header-wrapper-downoald-btn:hover{
        transform: scale(1.05);
        transition: 0.1s;
    }
    .submit-btn:active{
        background-color: #86062d;
        border: none;
        transition: 0.3s;
    }
    .start-trainer-btn:active{
        background-color: #86062d;
        color: #fff;
        border: none;
        transition: 0.3s;
    }
    .type-btn:active{
        transition: 0.3s;
        background-color: #010218;
        color: #fff;
        border: none;
    }
}

@media screen and (min-width:701px) {
    .header-wrapper-downoald-btn:hover{
        transform: scale(1.05);
        transition: 0.1s;
    }
    .header-btn:hover{
        background-color: #fff;
        border: none;
        color: #000;
        transition: 0.3s;
    }
    .search-btn:hover::after{
        transition: 0.3s;
        border: 1px solid #000;
        width: 100%;
    }
    .circle-btn:hover{
        transform: scale(1.05);
        transition: 0.2s;
    }
    .submit-btn:hover{
        background-color: #86062d;
        border: none;
        transition: 0.3s;
    }
    .start-trainer-btn:hover{
        background-color: #86062d;
        color: #fff;
        border: none;
        transition: 0.3s;
    }
    .footer-content2:hover{
        transform: scale(1.02);
        transition: 0.15s;
    }
    .social-btn:hover{
        transform: scale(1.1);
        transition: 0.15s;
    }
    .footer-tag-btn:hover::after{
        transition: 0.3s;
        border: 1px solid #fff;
        width: 100%;
    }
    .type-btn:hover{
        transition: 0.3s;
        background-color: #010218;
        color: #fff;
        border: none;
    }
    .fixed-btn:hover::after{
        transition: 0.3s;
        border: 1px solid #fff;
        width: 100%;
    }
    .back-btn:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
}