@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body{
    font-family: 'Open Sans';
    margin: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-color: #010218;
    transition: 2s;
}

.top-btn-group{
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: -1;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    width: 190px;
    height: 190px;
}
.top-btn{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-img{
    width: 150px;
    height: 150px;
}
header{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #86062d; */
    background-image: linear-gradient(-180deg, #86062d 48%, #010218);
}
.content-header{
    /* width: 80%; */
    min-height: 592px;
    display: flex;
    justify-content: center;
    gap: 63px;
}
.header-wrapper{
    position: relative;
    width: 575px;
    height: 592px;
    background-color: #010218;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    order:2;
    border-radius: 15px;
}
.header-wrapper-downoald{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
.header-wrapper-downoald-btn{
    width: 458px;
    background-color: #fff;
    color: #000;
    transition: 0.1s;
    border-radius: 15px;
    user-select: none;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header-btn-conteiner{
    position: relative;
    width: 938px;
    height: 592px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,276.64px);
    grid-auto-flow: dense;
    order: 2;
    gap: 38px;
}
.header-btn{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    transition: 0.3s;
    user-select: none;
    border: 1px solid #fff;
    background-color: none;
    color:#fff;
}
.header-btn1{
    grid-column: span 3;
    gap: 100px;
}
.header-btn2{
    grid-column: span 1;
    cursor: pointer;
    padding: 0 45px;
}
.header-btn3{
    grid-column: span 2;
    cursor: pointer;
    padding: 0 45px;
}
.search-btn{
    position: relative;
    cursor: pointer;
    transition: 0.05s;
}
.search-btn::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    border: 0px solid #fff;
    width: 0%;
    transition: 0.3s;
}
.select-btn-header{
    border: none;
    background-color: #fff;
    color: #000;
}
.wrapper-smile{
    position: absolute;
    bottom: 50px;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.content-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #010218;
    border-bottom: 3px solid #fff;
}
.content-text-conteiner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180px;
    cursor: pointer;
    user-select: none;
    color:#fff;
}
.circle-btn-conteiner{
    z-index: 1;
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 90px;
    width: 500px;
    height: 150px;
}
.circle-btn{
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
}
.select-btn-content{
    background-color: #86062d;
}
.support-wrapper{
    background-color: #010218;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.support-form{
    width: 82%;
    height: 726px;
    max-height: 726px;
    /* border: 2px solid #fff; */
    box-shadow: 0vw 0vw 1vw 0.25vw white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 29px;
    border-radius: 15px;
}
.form-text{
    color: #fff;
    font-size: 76px;
    user-select: none;
    margin-bottom: 35px;
}
.support-input{
    color: #000;
    width: 80%;
    height: 90px;
    font-size: 32px;
    padding-left: 40px;
    border-radius: 15px;
    border: none;
}
.submit-btn{
    background-color: transparent;
    color: #fff;
    width: 281px;
    height: 100px;
    border-radius: 50px;
    user-select: none;
    font-size: 32px;
    border: 3px solid #fff;
    cursor: pointer;
    transition: 0.3s;
}
.trainer-wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010218;
    border-top: 3px solid #fff;
    padding: 50px 0;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 50px; */
}
.trainer-conteiner{
    width: 90%;
    height: 70%;
    font-size: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 166px;
}
.h-start-trainer{
    text-align: center;
    color: #fff;
}
.start-trainer-btn{
    width: 500px;
    height: 200px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
}
.trainer-btn-conteiner{
    width: 100%;
    min-height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.trainer-btn{
    min-width: 300px;
    height: 300px;
    padding: 0 25px;
    background-color: #fff;
    border-radius: 15px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}
footer{
    background-color: #010218;
    width: 100%;
    min-height: 55vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #fff;
}
.footer-content-conteiner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow: dense;
    gap: 24px;
    width: 60%;
    min-height: 424px;
    justify-content: center;
}
.footer-content{
    height: 200px;
    border-radius: 15px;
}
.footer-content1{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
    font-size: 38px;
    border: 1px solid #fff;
}
.footer-content2{
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    background-color: #86062d;
    color: #fff;
    user-select: none;
    cursor: pointer;
    transition: 0.15s;
}
.footer-content3{
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}
.social-btn-conteiner{
    display: flex;
    flex-direction: row;
    gap: 84px;
}
.social-btn{
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.15s;
    user-select: none;
}
.footer-img{
    width: 100%;
    height: 100%;
}
.footer-tag-btn{
    cursor: pointer;
    user-select: none;
    transition: 0.05s;
    position: relative;
}
.footer-tag-btn::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    border: 0px solid #fff;
    width: 0%;
    transition: 0.3s;
}
main{
    width: 100%;
}
.manager-wrapper{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #010218;
}
.header-manager{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-bottom: 3px solid #fff;
    color: #fff;
    font-size: 52px;
    user-select: none;
    background-color: #010218;
}
.manager{
    background-color: #fff;
    width: 100%;
    height: 89.718vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 145px;
    background-color: #010218;
    border-bottom: 3px solid #fff;
}
.type-group{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    gap: 40px;
}
.type-btn{
    width: 50%;
    min-height: 35%;
    padding: 60px 0;
    border: 2px solid #000;
    color: #000;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 45px;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    margin: 100px auto;
}
.manager-window{
    width: 70%;
    height: 80%;
    background-color: #86062d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}
/* .manager-window *{
    outline: 2px solid #000;
} */
.manager-text{
    font-size: 40px;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    text-align: center;
}
.type-btn-conteiner{
    position: relative;
    width: 80%;
    height: 80%;
    overflow-y: auto;
    /* outline: 3px solid #000; */
    background-color: #fff;
    height: 450px;
}
.content-manager-group{
    background-color: #010218;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-manager{
    border: 2px solid #fff;
    color: #fff;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.formul-package{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.formul-name{
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 150px;
    position: relative;
    font-size: 52px;
    border-right: 1px solid #fff;
    /* position: absolute;
    left: 150px; */
}
.formul-conteiner{
    position: relative;
    width: 500px;
    height: 400px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
sup{
    font-size: 60%;
    position: relative;
    bottom: 5px;
}
.fixed-header{
    opacity: 0;
    background-color: #86062d;
    position: fixed;
    top: 25px;
    left: 12.5%;
    width: 75%;
    height: 15%;
    z-index: 99;
    border-radius: 25px;
    transition: 0.3s;
}
.header-fixed-btn-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    gap: 15%;
    color: #fff;
    width: 100%;
    height: 100%;
}
.fixed-btn{
    position: relative;
    cursor: pointer;
    transition: 0.05s;
    user-select: none;
}
.fixed-btn::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    border: 0px solid #fff;
    width: 0%;
    transition: 0.3s;
}
.back-btn{
    position: absolute;
    top: 25%;
    right: 5%;
    cursor: pointer;
    transition: 0.3s;
}
.back-btn img{
    width: 50px;
}
.no-click-true-btn{
    pointer-events: none;
}