@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body{
    font-family: 'Inter';
    margin: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

header{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #041B80;
}
.content-header{
    /* width: 80%; */
    min-height: 592px;
    display: flex;
    justify-content: center;
    gap: 63px;
}
.header-wrapper{
    position: relative;
    width: 575px;
    height: 592px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    order:2;
}
.header-wrapper-downoald{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
.header-wrapper-downoald-btn{
    width: 458px;
    background-color: #fff;
    color: #000;
    transition: 0.1s;
    border-radius: 15px;
    user-select: none;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header-wrapper-downoald-btn:hover{
    transform: scale(1.05);
    transition: 0.1s;
}
.header-wrapper-downoald-btn:active{
    transform: scale(1);
    transition: 0.1s;
}
.header-btn-conteiner{
    position: relative;
    width: 938px;
    height: 592px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,276.64px);
    grid-auto-flow: dense;
    order: 2;
    gap: 38px;
}
.header-btn{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    transition: 0.3s;
    user-select: none;
    border: 1px solid #fff;
    background-color: none;
    color:#fff;
}
.header-btn:hover{
    background-color: #fff;
    border: none;
    color: #000;
    transition: 0.3s;
}
.header-btn1{
    grid-column: span 3;
    gap: 100px;
}
.header-btn2{
    grid-column: span 1;
    cursor: pointer;
    padding: 0 45px;
}
.header-btn3{
    grid-column: span 2;
    cursor: pointer;
    padding: 0 45px;
}
.search-btn{
    position: relative;
    cursor: pointer;
    transition: 0.05s;
}
.search-btn::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    border: 0px solid #fff;
    width: 0%;
    transition: 0.3s;
}
.search-btn:hover::after{
    transition: 0.3s;
    border: 1px solid #000;
    width: 100%;
}
.select-btn-header{
    border: none;
    background-color: #fff;
    color: #000;
}
.wrapper-smile{
    position: absolute;
    bottom: 50px;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.content-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.content-text-conteiner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    cursor: pointer;
    user-select: none;
}
.circle-btn-conteiner{
    z-index: 1;
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 90px;
    width: 500px;
    height: 150px;
}
.circle-btn{
    background-color: #041B80;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
}
.circle-btn:hover{
    transform: scale(1.05);
    transition: 0.2s;
}
.select-btn-content{
    background-color: #000;
}

.support-wrapper{
    background-color: #041B80;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.support-form{
    width: 82%;
    height: 726px;
    max-height: 726px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 29px;
    border-radius: 15px;
}
.form-text{
    color: #fff;
    font-size: 96px;
    user-select: none;
    margin-bottom: 35px;
}
.support-input{
    color: #000;
    width: 1089px;
    height: 90px;
    font-size: 32px;
    padding-left: 40px;
    border-radius: 15px;
    border: none;
}
.support-input:active,:focus{
    outline: none;
}
.submit-btn{
    background-color: transparent;
    color: #fff;
    width: 281px;
    height: 100px;
    border-radius: 50px;
    user-select: none;
    font-size: 32px;
    border: 3px solid #fff;
    cursor: pointer;
    transition: 0.3s;
}
.submit-btn:hover{
    background-color: #000;
    border: none;
    transition: 0.3s;
}
.trainer-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trainer-conteiner{
    width: 85%;
    height: 70%;
    font-size: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 166px;
}
.start-trainer{
    display: flex;
}
.h-start-trainer{
    text-align: center;
}
.start-trainer-btn{
    width: 600px;
    height: 200px;
    background-color: #041B80;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 25px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
}
.start-trainer-btn:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.start-trainer-btn:active{
    transform: scale(1);
    transition: 0.3s;
}
.midle-btn-conteiner{
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.midle-btn{
    width: 300px;
    height: 300px;
    border: 3px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 15px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
}
.midle-btn:hover{
    background-color: #041B80;
    color: #fff;
    border: none;
    transition: 0.3s;
}
footer{
    background-color: #041B80;
    width: 100%;
    min-height: 55vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content-conteiner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow: dense;
    gap: 24px;
    width: 60%;
    min-height: 424px;
    justify-content: center;
}
.footer-content{
    height: 200px;
    border-radius: 15px;
}
.footer-content1{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
    font-size: 38px;
    border: 1px solid #fff;
}
.footer-content2{
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    background-color: #fff;
    color: #000;
    user-select: none;
    cursor: pointer;
    transition: 0.15s;
}
.footer-content2:hover{
    transform: scale(1.02);
    transition: 0.15s;
}
.footer-content2:active{
    transform: scale(1);
    transition: 0.15s;
}
.footer-content3{
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}
.social-btn-conteiner{
    display: flex;
    flex-direction: row;
    gap: 84px;
}
.social-btn{
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.15s;
}
.social-btn:hover{
    transform: scale(1.1);
    transition: 0.15s;
}
.social-btn:active{
    transform: scale(1);
    transition: 0.15s;
}
.footer-img{
    width: 100%;
    height: 100%;
}
.footer-tag-btn{
    cursor: pointer;
    user-select: none;
    transition: 0.05s;
    position: relative;
}
.footer-tag-btn::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    border: 0px solid #fff;
    width: 0%;
    transition: 0.3s;
}
.footer-tag-btn:hover::after{
    transition: 0.3s;
    border: 1px solid #fff;
    width: 100%;
}
body{
    width: 100%;
    margin: 0;
    font-family: 'Inter';
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
main{
    width: 100%;
}
.manager-wrapper{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.header-manager{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-bottom: 3px solid black;
    font-size: 52px;
    user-select: none;
}
.manager{
    background-color: #fff;
    width: 100%;
    height: 89.718vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 145px;
}
.type-btn-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.type-btn{
    width: 415px;
    height: 180px;
    border: 2px solid #000;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}
.type-btn:hover{
    transition: 0.3s;
    background-color: #041B80;
    color: #fff;
    border: none;
}
.manager-window{
    width: 870px;
    height: 630px;
    background-color: #041B80;
}