.start-group{
    background-color: #0e0e0e;
    width: 100vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-start{
    font-size: 1.5vw;
    font-weight: bold;
    color:white;
    position: absolute;
    top: 40vw;
}
.anim-conteiner{
    display: flex;
    position: relative;
    width: 25vw;
    height: 22vw;
}
.anim-img{
    position: absolute;
    width: 8vw;
}
.img-1{
    top: 11vw;
    animation: physic_img1 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
@keyframes physic_img1{
    0%{
        transform: none;
    }
    35%{
        transform: translate(14vw,2.5vw);
    }
    70%{
        transform: translate(10vw, -11vw);
    }
}
.img-2{
    left: 10vw;
    animation: physic_img2 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
@keyframes physic_img2{
    0%{
        transform: none;
    }
    35%{
        transform: translate(-10vw, 11vw);
    }
    70%{
        transform: translate(4vw, 14vw);
    }
}
.img-3{
    top: 14vw;
    left: 14vw;
    animation: physic_img3 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
@keyframes physic_img3{
    0%{
        transform: none;
    }
    35%{
        transform: translate(-4vw, -14vw);
    }
    70%{
        transform: translate(-14vw, -2.5vw);
    }
}