@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Rubik+Mono+One&display=swap');

body{
    width: 100%;
    margin: 0;
    font-family: 'Prosto One';
    background-color: #000;
    overflow: hidden;
}
body > *{
    margin: 0 auto;
}

.wrapper{
    background-color: #000;
    display: flex;
    align-items: center;
    height: 100vh;
}
.left_wrapper{
    width: 75%;
    height: 100%;
    display: grid;
    place-items: center;
}
.left_content_wrapper{
    width: 80%;
    height: 80%;
    color: #000;
    background-color: #fff;
    border-radius: 25px;
}
.header_h_wrapper{
    position: relative;
    font-size: 12.5px;
    width: 100%;
    height: 12.5%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000;
}
.header_content_wrapper{
    width: 100%;
    height: 87.5%;
    display: grid;
    place-items: center;
}
.header_content_wrapper > p{
    width: 50%;
    height: 50%;
    font-size: 25px;
}
.left_h{
    font-family: 'Rubik Mono One';
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.right_h{
    position: absolute;
    left: 0;
}
h1{
    padding-left: 25px;
    user-select: none;
}
.right_wrapper{
    margin-right: 50px;
    background-color: #D41E1E;
    width: 25%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 25px;
}
.right_wrapper::-webkit-scrollbar { width: 0; }
.right_content_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
}
.content_card{
    font-family: 'Prosto One';
    text-align: center;
    width: 250px;
    height: 100px;
    display: grid;
    place-items: center;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    font-size: 22.5px;
    font-weight: bold;
    border: none;
    transition: 0.2s;
}
.content_card:hover{
    transition: 0.2s;
    box-shadow: 0px 2px 10px 6px #fff;
}
.back_btn{
    position: absolute;
    right: 25px;
    background-color: transparent;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.back_btn:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.back_btn img{
    width: 100%;
    height: 100%;
}
#default_h{
    color: #fff;
    font-size: 45px;
}

@media screen and (max-width:1375px){
    .wrapper{
        flex-direction: column;
    }
    .wrapper > *{
        border-radius: 5px;
    }
    .left_wrapper{
        height: 50vh;
    }
    .right_wrapper{
        width: 60%;
        height: 40vh;
        margin: 0 auto;
        border-radius: 5px;
    }
    .back_btn{
        width: 50px;
    }
}
@media screen and (max-width:1200px){
    .header_h_wrapper{
        font-size: 10px;
    }
    .back_btn{
        width: 45px;
    }
}
@media screen and (max-width:850px){
    .left_wrapper{
        width: 100%;
    }
    .right_wrapper{
        width: 80%;
    }
    .header_content_wrapper h2{
        font-size: 17.5px;
    }
    .header_content_wrapper p{
        font-size: 10px;
    }
    .content_card{
        font-size: 17.5px;
        width: 200px;
        height: 80px;
    }
    #default_h{
        font-size: 30px;
    }
    .back_btn{
        width: 40px;
    }
    .header_h_wrapper{
        font-size: 7.5px;
    }
    .left_h{
        font-size: 5px;
    }
}
