@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Rubik+Mono+One&display=swap');

body{
    width: 100%;
    margin: 0;
    font-family: 'Prosto One';
    background-color: #000;
    overflow-x: hidden;
}
body > *{
    margin: 0 auto;
}
/* body *{
    outline: 1px solid #f00;
} */
header{
    width: 80%;
    height: 100vh;
}
.top_header{
    width: 100%;
    height: 12.5vh;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 100px;
}
.company_name{
    font-size: 30px;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    color: #fff;
}
.past_nav{
    background-color: #D41E1E;
    width: 25%;
    height: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.past_nav > hr{
    width: 80%;
    border: 1px solid #fff;
}
.key_btn_wrapper{
    display: flex;
    gap: 100px;
}
.key_btn{
    position: relative;
    width: fit-content;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 22.5px;
    font-family: 'Prosto One';
    user-select: none;
}
.key_btn::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    border: 0px solid #fff;
    width: 0%;
    transition: 0.3s;
}
.key_btn:hover::after{
    width: 100%;
    border: 1px solid #fff;
    transition: 0.3s;
}
.click{
    cursor: pointer;
}

.h_wrapper{
    color: #fff;
    font-family: 'Rubik Mono One';
    width: 100%;
}
.h_wrapper *{
    white-space: nowrap;
    user-select: none;
}
h1{
    font-size: 6vw;
}
.red_color_h{
    color: #D41E1E;
}
.h_paragraf{
    font-size: 2vw;
}

main{
    width: 100%;
}
main > *{
    margin: 0 auto;
}
.product_wrapper{
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.product_window{
    cursor: pointer;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
}
.class_name{
    font-size: 80px;
    user-select: none;
    color: #000;
    font-family: 'Rubik Mono One';
}
.circle_btn_wrapper{
    bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.circle_btn{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.select_circle_btn{
    pointer-events: none;
    background-color: #D41E1E;
    width: 125px;
    transition: 0.3s;
}

.trainer_wrapper{
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .trainer_wrapper *{
    outline: 1px solid #f00;
} */
.trainer_window{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}
.trainer_label{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trainer_label_paragraf{
    color: #fff;
    font-size: 32.5px;
    display: flex;
    text-align: center;
}
.trainer_option_btn_wrapper{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.trainer_option_btn{
    width: 100%;
    height: 250px;
    font-size: 27.5px;
    font-family: 'Rubik Mono One';
    border-radius: 15px;
    /* border-bottom-left-radius: 50px;
    border-top-right-radius: 50px; */
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.trainer_option_btn:hover{
    transition: 0.3s;
    border-radius: 15px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
.left_option{
    background-color: #D41E1E;
    color: #fff;
}
.right_option{
    background-color: #fff;
    color: #000;
}

footer{
    border-top: 3px solid #fff;
    width: 100%;
    height: 40vh;
    display: grid;
    place-items: center;
}
.footer_wrapper{
    color: #fff;
    width: 80%;
    height: 60%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 150px;
}
.footer_form_wrapper{
    display: flex;
    justify-content: center;
}
.footer_h{
    font-size: 30px;
    user-select: none;
    white-space: nowrap;
}
.footer_email_text{
    font-size: 25px;
    user-select: none;
}
.copy_email_btn{
    background-color: #D41E1E;
    border: none;
    width: 80%;
    height: 66px;
    font-family: 'Prosto One';
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}
.footer_form_wrapper{
    width: 40%;
}
.input_form_footer_wrapper{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
}
.input_footer{
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    font-size: 17.5px;
    color: #000;
}
.input_footer:hover,:active,:focus{
    outline: none;
}
.submit_footer{
    font-family: 'Prosto One';
    text-transform: lowercase;
    font-size: 17.5px;
    width: 60%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D41E1E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* .footer_company_name{
    height: 35%;
    width: 100%;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 2vw;
}
.name_footer_wrapper{
    width: 20%;
    height: 100%;
    white-space: nowrap;
}
.name_footer_wrapper > p{
    padding: 0 15px;
}
.company_footer_info{
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    text-align: center;
} */
.true_option{
    background-color: #1ed43c;
    color: #fff;
}
.un_click{pointer-events: none;}